agent.auto.register.key={{ default .Env.AGENT_AUTO_REGISTER_KEY "123456789abcdef" }}
agent.auto.register.resources={{ default .Env.AGENT_AUTO_REGISTER_RESOURCES "dynamic-managed-agent" }}
agent.auto.register.environments={{ default .Env.AGENT_AUTO_REGISTER_ENVIRONMENTS "" }}
agent.auto.register.hostname={{ default .Env.AGENT_AUTO_REGISTER_HOSTNAME "" }}
